body {
    background-color: black;
    text-align: center;
    font-family: sans-serif;
}

section {
    border: 3px solid white;
    width: 300px;
    margin: 30px auto;
}

section h2 {
    color: white;
}

section p {
    color: white;
}